.alert{
    transition: height 300ms ease-out 0s;
}

.alert.hidden{
    height: 0;
    display: none;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

div.error-message{
    color: #C3232D;
    font-size: 13px;
}


#messageLists {
    height: 300px;
    overflow-y: scroll;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

#messageLists h5{
    font-size: 14px;
    font-weight: bold;
}

/* 
.messages.index{
    font-size: 11px;
}

.messages.index h5{
    font-size: 13px;
    font-weight: bold;
}

.messages.index img{
    border-radius: 50%;
}

.messages.index li.media{
    padding-bottom: 10px; 
    border-bottom: 1px dotted #ddd;
} */